* {
    box-sizing: border-box;
}

:root {
    --blue: hsl(246, 80%, 60%);
    --orange: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --yellow: hsl(43, 84%, 65%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Rubik', sans-serif;
    flex-wrap: wrap;
}

#overview {
    background-color: var(--dark-blue);
}

section#time-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-segment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: no-wrap;
    flex-direction: row;
}

@media (max-width: 400px) {
    .card-segment {
        flex-direction: column;
    }
}

.time-card {
    flex: 150px 2 1;
    max-width: 300px;
}

.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#work {
    background-color: var(--orange);
}

#play {
    background-color: var(--soft-blue);
}

#study {
    background-color: var(--light-red);
}

#exercise {
    background-color: var(--lime-green);
}

#social {
    background-color: var(--violet);
}

#self-care {
    background-color: var(--yellow);
}